<h1><%= @place.name %></h1>
<br>
<p>
<%for post in @place.posts %>

<h3> <%= "#{post.title}" %></h3>
  <%= "#{post.posted_on} " %>
  <br>
  <br>
  <%= "#{post.description}" %>
  <br>
  <br>
<% end %>
</p>


<p>
    <a href="/posts/new?place_id=<%=@place.id %>"> Create New Post </a>
</p>

<p>
    <a href="/places"> Go Back to all Places </a>
</p>